<% layout("/layouts/boilerplate.ejs") -%>

<div class="row mt-3">
  <div class="col-8 offset-1">
    <h3>Edit Listings.</h3>
    <form
      action="/listings/<%= listings._id %>?_method=put"
      method="POST"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-2">
        <label for="title" class="form-label">Label</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listings.title  %> "
          id="title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter valid title!</div>
      </div>

      <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          id="description"
          class="form-control"
          required
        >
          <%= listings.description  %> </textarea
        >
        <div class="valid-feedback">nice description</div>
        <div class="invalid-feedback">Please Enter valid Description!</div>
      </div>

      <div class="img-fluid editImg">
        <img src="<%= imageUrl  %>"/>
      </div>
      <div class="mb-2">
        <label for="url" class="form-label">Upload New Image</label>
        <input
          type="file"
          name="listing[image]"
          id="url"
          class="form-control"
          
        />
        <div class="invalid-feedback">Please Enter valid url</div>
      </div>

      <div class="row">
        <div class="mb-2 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            value="<%= listings.price  %>"
            id="price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter valid Price</div>
        </div>

        <div class="mb-2 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listings.country  %>"
            id="country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter valid Country!</div>
        </div>
      </div>

      <div class="mb-2">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= listings.location  %>"
          id="location"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter valid Location!</div>
      </div>

      <br />
      <button class="btn edit-btn">Edit</button>

      <br /><br />
    </form>
  </div>
</div>
